{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["next", "next/core-web-vitals","plugin:react/recommended", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {}
}
